In [56]:
import pandas as pd
df = pd.DataFrame(['House', "Bi", 'Bi', 'Town'], columns=['Type'])

In [57]:
pd.get_dummies(df.Type)

   Bi  House  Town
0   0      1     0
1   1      0     0
2   1      0     0
3   0      0     1

In [58]:
def encode_and_bind(tmp_df, features):
    dummies = pd.get_dummies(tmp_df[features])
    encoded = dummies.apply(lambda x: [x[dum] for dum in dummies], axis=1)
    res = pd.concat([tmp_df, encoded], axis=1)
    res.drop([features], axis=1)
    return res

In [59]:
encode_and_bind(df, 'Type')

    Type          0
0  House  [0, 1, 0]
1     Bi  [1, 0, 0]
2     Bi  [1, 0, 0]
3   Town  [0, 0, 1]